@{
    ViewData["Title"] = "Daily Verses";
}

<div class="app-container">
    <h1> Daily Verse</h1>

    <label for="startDate">Start Date</label><br/>
    <input type="text" name="startDate" placeholder="Enter Start Date" /><br/>

    <label for="numberOfVerses">Number of Verses</label><br/>
    <input type="number" placeholder="10" />
</div>

