@{
    ViewData["Title"] = "Daily Verses";
}

<div class="app-container">
    <h1> Daily Verse</h1>

    <label for="startDate">Start Date</label><br/>
    <input type="date" name="startDate" /><br/>

    <label for="numberOfVerses">Number of Verses</label><br/>
    <input type="number" placeholder="10" /><br/>

    <button type="submit">Submit</button>
</div>

<div class="row align-items-center justify-content-center">
    <button>My Favorites</button>
</div>

